{% load i18n static recaptcha3 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- //font-awesome-icons -->
  <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <!-- //Fonts -->

    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage'  %}
</head>
<body>
<div id="page" class="page"><!-- mian-content -->
  <div class="main-banner bg {% block header %} {% endblock header %}" id="home">
      {% include 'include/header.html' %}
  </div>

    {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'users:profile' %}">Профиль</a>
      <form method="post" action="{% url 'users:logout' %}">
        {% csrf_token %}
        <!-- <button type="submit">Выход</button> -->
        <button type="submit" class="btn btn-success">Выход</button>
      </form>
    {% else %}
      <a class="nav-item nav-link" href="{% url 'users:login' %}">Вход</a>
      <a class="nav-item nav-link" href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}

  <ol class="breadcrumb editContent">
              <li class="breadcrumb-item">
                  <a href="{% url 'movies:index' %}" class="editContent">Home</a>
              </li>
              <li class="breadcrumb-item active editContent">Single Page</li>
  </ol>
  {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
  {% endif %}
  {% block content %} 


  {% endblock content %}
  
  {% include 'include/footer.html' %}
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script>
</body>
</html>